<section class="illustrations">
    <div class="d-flex flex-wrap card-grid">
        {% for modal in site.illustration_modals %}
                <div class="img-wrapper project-card" id={{ modal.name | slugify }} data-bs-toggle="modal" data-bs-target="#{{ modal.name | slugify | append: '-modal' }}" >
                    <img src={{ "assets/images/" | append: modal.image }} class="illustration" />
                    <div class="image-title">{{ modal.name }}</div>
                </div>
        {% endfor %}
    </div>
</section>