<div class="name" >
    <a href="/">
        <span class="initials">
            <img src="/assets/images/icon.png" />
        </span>
    </a>
    <h1><a href="/">Valarie Milbrath</a></h1>
    
</div>

<div class="page-links">
    <ul>
        {% for item in site.data.navigation %} 
        {% assign url = item.link | append: '.html' %}
        {% if item.link == '/'%}
            {% assign url = item.link %}
        {% endif %}
        
        {% if page.url == url %}
        <li class="active" >
            <a href="{{ item.link }}" class="section-link active" >
        {% else %}
        <li>
            <a href="{{ item.link }}" class="section-link" >
        {% endif %}
                {{ item.name }}
            </a>
        </li>   
    {% endfor %}
    </ul> 
</div>