@media screen and (orientation: portrait) {
    body {
        min-height: 100%;
    }

    .side-nav {
        height: auto;
        position: sticky;
        width: 100%;
        margin-top: 0;
        border-right: none;
        padding-top: 1rem;
        padding-bottom: 0;
        background-color: white;
    }

    main {
        margin-left: 0;
        padding: 1.25rem;

        h2 {
            margin-top: 0;
            text-align: center;
        }

        .banner {
            display: none;
        }
    }

    .name {
        text-align: left;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding: 0 1rem;

        h1 {
            display: inline-block;
            margin: 0;
            // font-size: 3.5rem;
        }

        .initials {
            padding: 0;
        }
    }

    .page-links {
        margin: 0;
        background-color: #8b0023;
        display: flex;
        justify-content: center;

        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
            }
        }

        .section-link {
            font-size: 1.25rem;
            color: white;
            padding: 0.25rem 1rem;
        }


        .active .section-link {
            background-color: white;
            color: #8b0023;
        }
    }

    .illustrations .img-wrapper, .architecture .img-wrapper {
        height: auto;
        width: 100%;
        border-top: 1px black solid;
        padding-bottom: 1rem;
        padding-top: 1rem;

        .illustration {
            height: auto;
            width: 100%;
        }

        .image-title {
            position: relative;
            opacity: 1;
            transform: none;
            font-size: 2rem;
            top: auto;
            left: auto;
        }
    }

    .img-wrapper:first-of-type {
        border: none;
    }

    .modal-dialog {
        margin: 0.5rem;
        min-height: auto !important;
    }

    .modal-content {
        padding: 1rem;
    }

    .modal-body {
        padding: 0;

        img, img.img30 {
            width: 100% !important;
        }
    }

    h2.modal-title {
        margin: 0;
        font-size: calc(2rem + .6vw);
    }


}